.list {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    
  }

.link{
  text-decoration: none;
  padding: 6px 12px;
  background-color: #eee;
  border-radius: 4px;
  margin: 4px;
  display: inline-block;
  color: #555;
  font-weight: bold;
}
.link:hover{
  background-color: #ddd;

}